.flex.mb-4
  .w-full
    %h1= "Copy #{@form.recipe.name}"

= simple_form_for @form, url: recipe_copy_path(@recipe) do |f|
  .flex.flex-wrap.mb-4
    .w-full
      = f.input :name,
                label: 'New recipe name',
                placeholder: 'Enter a new name',
                input_html: { class: 'w-full' }

  .flex.flex-wrap.mt-6
    .w-full
      = f.submit 'Copy recipe', class: 'f-button'
    .w-full
      = link_to 'Cancel', recipe_path(@form.recipe), class: 'shy-link text-xs'
