= simple_form_for nutrition do |f|
    = f.input :name
    = f.input :kcal
    = f.input :carbs
    = f.input :carbs_sugar_part
    = f.input :protein
    = f.input :fat
    = f.input :fat_saturated
    = f.input :fiber
    = f.submit nil, class: 'btn btn-primary'
