= simple_form_for nutrition do |f|

  .grid-x.grid-margin-x
    .small-12.medium-6.cell
      = f.input :name
    .small-12.medium-6.cell
      = f.input :unit, collection: nutrition.decorate.units_collection, include_blank: false

  .grid-x
    .small-12.cell
      = f.input :kcal

  .grid-x.grid-margin-x
    .small-12.medium-6.cell
      = f.input :carbs
    .small-12.medium-6.cell
      = f.input :carbs_sugar_part

  .grid-x
    .small-12.cell
      = f.input :protein

  .grid-x.grid-margin-x
    .small-12.medium-6.cell
      = f.input :fat
    .small-12.medium-6.cell
      = f.input :fat_saturated

  .grid-x
    .small-12.cell
      = f.input :fiber

  .grid-x
    .small-12.cell
      = f.input :vegan

  .vertical-space-xl
    .button-group
      = f.submit nil, class: 'primary button'
      = link_to 'Cancel', nutritions_path, class: 'button secondary'
