.flex.flex-col.gap-y-2
  .w-full
    %h2 Nutritions
  .w-full
    - if nutritions_table[:ingredients].any? # = has calories?
      .nutritions-table.flex.flex-col.bg-white.border.border-gray-200.rounded.divide-y.divide-gray-200
        .flex.text-xs.sm:text-base.px-2.pt-2
          %div{ class: 'w-1/3' }
          %div{ class: 'w-1/6 text-3xs text-right' } kcal
          %div{ class: 'w-1/6 text-3xs text-right' } Carbs
          %div{ class: 'w-1/6 text-3xs text-right' } Protein
          %div{ class: 'w-1/6 text-3xs text-right' } Fat

        - nutritions_table.each do |section, rows|
          .flex.text-xs.sm:text-base.px-2.py-1
            .w-full
              - rows.each do |row|
                .flex.flex-wrap.text-3xs
                  %div{ class: 'w-1/3' }= row[0]
                  %div{ class: 'w-1/6 text-right' }= row[1]&.round
                  %div{ class: 'w-1/6 text-right' }= row[2]&.round
                  %div{ class: 'w-1/6 text-right' }= row[3]&.round
                  %div{ class: 'w-1/6 text-right' }= row[4]&.round

    - else
      .text-gray-400.text-sm.tracking-wide No ingredients = no nutritions. 🤷
