%h1 Nutritions

%table.unstriped.hover
  %thead
    %tr
      %th Name
      %th.col-xs-1.text-right Kcal
      %th.col-xs-1.text-right Carbs
      %th.col-xs-1.text-right Protein
      %th.col-xs-1.text-right Fat
      %th.col-xs-1.text-right Fiber
  %tbody
    - @nutritions.each do |nutrition|
      %tr.clickable-row{ 'data-href': nutrition_path(nutrition) }
        %td= link_to nutrition.name, nutrition
        %td.text-right= nutrition.kcal
        %td.text-right= nutrition.carbs
        %td.text-right= nutrition.protein
        %td.text-right= nutrition.fat
        %td.text-right= nutrition.fiber

= link_to 'New Nutrition', new_nutrition_path, class: 'primary button'
