.flex
  %h1 Nutritions

.flex.my-5
  = link_to 'Add nutrition', new_nutrition_path, class: 'f-button f-button-green w-full'

.flex.my-5
  .w-full
    = render 'layouts/search', form_url: nutritions_path

= render 'layouts/pagy', pagy: @pagy

.flex.my-5
  .w-full
    %ul.nutritions.flex.flex-col.gap-y-4
      - @nutritions.each do |nutrition|
        %li
          = link_to nutrition_path(nutrition) do
            .p-2.bg-gray-100.rounded.shadow.border.border-gray-200.hover:border-gray-100.transition
              .flex.flex-col
                .w-full.py-1.flex.gap-x-1
                  = nutrition.name
                  = render 'icons/vegan', vegan: nutrition.vegan?
                .w-full
                  = render 'macronutrients/fact_labels', fact_data: nutrition.macronutrient_data

= render 'layouts/pagy', pagy: @pagy
