%h1= @nutrition.name

.row
  .large-6.column
    .card
      .card-divider
        %h2 100g/ml contains
      .card-section
        %table.unstriped
          %tbody
            %tr
              %th.text-left Kcal
              %td.text-right= @nutrition.kcal
            %tr
              %th.text-left Carbs
              %td.text-right= @nutrition.carbs
            %tr
              %th.gray.text-left  Carbs sugar part
              %td.gray.text-right= @nutrition.carbs_sugar_part
            %tr
              %th.text-left Protein
              %td.text-right= @nutrition.protein
            %tr
              %th.text-left Fat
              %td.text-right= @nutrition.fat
            %tr
              %th.gray.text-left Fat saturated
              %td.gray.text-right= @nutrition.fat_saturated
            %tr
              %th.text-left Fiber
              %td.text-right= @nutrition.fiber
    .button-group.small
      = link_to 'Edit', edit_nutrition_path(@nutrition), class: 'button primary'
      =# link_to 'Delete', @nutrition, method: :delete, data: { confirm: 'Are you sure?' }, class: 'warning button'
  .large-6.column
    .card
      .card-divider
        %h2 Portions
      .card-section
        = render 'portions/index', portions: @nutrition.portions
    = link_to 'New portion', new_nutrition_portion_path(@nutrition), class: 'button primary small'
