%h1= @nutrition.name

.vertical-space-lg
  = render 'nutritions/vegan_icon', vegan: @nutrition.vegan?

= link_to 'New nutrition', new_nutrition_path(@nutrition), class: 'button primary pull-right'

.small.button-group
  = link_to 'Edit', edit_nutrition_path(@nutrition), class: 'warning button'
  - if @nutrition.recipes_using.none?
    = link_to 'Delete', nutrition_path(@nutrition), method: :delete, data: { confirm: 'Are you sure?' }, class: 'alert button'
  = link_to 'New portion', new_nutrition_portion_path(@nutrition), class: 'button primary'
.grid-x.grid-margin-x
  .large-4.small-12.cell
    .card
      .card-divider
        %h2= "100#{@nutrition.unit_abbrevation} contains"
      .card-section
        %table.unstriped
          %tbody
            %tr
              %th.text-left Kcal
              %td.text-right= @nutrition.kcal
            %tr
              %th.text-left Carbs
              %td.text-right= @nutrition.carbs
            %tr
              %th.gray.text-left  Carbs sugar part
              %td.gray.text-right= @nutrition.carbs_sugar_part
            %tr
              %th.text-left Protein
              %td.text-right= @nutrition.protein
            %tr
              %th.text-left Fat
              %td.text-right= @nutrition.fat
            %tr
              %th.gray.text-left Fat saturated
              %td.gray.text-right= @nutrition.fat_saturated
            %tr
              %th.text-left Fiber
              %td.text-right= @nutrition.fiber
  .large-4.small-12.cell
    .card
      .card-divider
        %h2 Portions
      .card-section
        = render 'portions/index', portions: @nutrition.portions
  - if @nutrition.recipes_using.any?
    .large-4.small-12.cell
      .card
        .card-divider
          %h2= "Used in #{@nutrition.recipes_using.count} #{'recipe'.pluralize(@nutrition.recipes_using.count)}"
        .card-section
          - @nutrition.recipes_using.each do |recipe|
            = link_to recipe.decorate.name, recipe_path(recipe), class: 'secondary button small'


