%h1= @nutrition.name

.vertical-space-lg.vegan-icon
  = render 'icons/vegan', vegan: @nutrition.vegan?

.vertical-space-xl
  .small.button-group
    - if @nutrition.in_recipes.any?
      = link_to nutrition_recipes_path(@nutrition), class: 'hollow primary button' do
        = "Used in #{@nutrition.in_recipes.count} #{'recipe'.pluralize(@nutrition.in_recipes.count)}"
    - if @nutrition.on_journal_days.any?
      = link_to nutrition_journal_days_path(@nutrition), class: 'hollow primary button' do 
        = "Used on #{@nutrition.on_journal_days.count} #{'journal day'.pluralize(@nutrition.on_journal_days.count)}"

= link_to 'New nutrition', new_nutrition_path(@nutrition), class: 'button primary pull-right'

.small.button-group
  = link_to 'Edit', edit_nutrition_path(@nutrition), class: 'warning button'
  - if @nutrition.deleteable?
    = link_to 'Delete', nutrition_path(@nutrition), method: :delete, data: { confirm: 'Are you sure?' }, class: 'alert button'
  = link_to 'New portion', new_nutrition_portion_path(@nutrition), class: 'button primary'
.grid-x.grid-margin-x
  .large-6.small-12.cell
    .card
      .card-divider
        %h2= "100#{@nutrition.unit_abbrevation} contains"
      .card-section
        %table.unstriped
          %tbody
            %tr
              %th.text-left Kcal
              %td.text-right= @nutrition.kcal
            %tr
              %th.text-left Carbs
              %td.text-right= @nutrition.carbs
            %tr
              %th.gray.text-left  Carbs sugar part
              %td.gray.text-right= @nutrition.carbs_sugar_part
            %tr
              %th.text-left Protein
              %td.text-right= @nutrition.protein
            %tr
              %th.text-left Fat
              %td.text-right= @nutrition.fat
            %tr
              %th.gray.text-left Fat saturated
              %td.gray.text-right= @nutrition.fat_saturated
            %tr
              %th.text-left Fiber
              %td.text-right= @nutrition.fiber
  .large-6.small-12.cell
    .card
      .card-divider
        %h2 Portions
      .card-section
        = render 'portions/index', portions: @nutrition.portions


