.flex.flex-col.gap-y-8
  .flex.items-center
    .w-full{ 'data-controller': 'toggleable' }
      .flex
        .grow.flex.flex-col.gap-x-1
          %h1.text-sm.uppercase
            = @nutrition.name
          - if @nutrition.vegan?
            .flex.items-end.gap-x-1.text-2xs.text-gray-400
              = render 'icons/vegan', vegan: @nutrition.vegan?
              Vegan
        .shrink-0
          %button.text-gray-500.hover:text-gray-900{ 'data-action': 'toggleable#toggle', 'aria-expanded': 'true', 'aria-haspopup': 'true' }
            .h-4.w-4
              = raw heroicon :'dots-vertical'

      .nutrition-actions.grid.grid-cols-1.gap-2.pt-6.pb-4{ 'data-toggleable-target': 'toggleable', role: "menu" , 'aria-orientation': "vertical", 'tabindex': "-1" }
        = link_to edit_nutrition_path(@nutrition), class: 'w-full button flex items-center justify-center gap-x-2' do
          .h-4.w-4
            = raw heroicon :pencil
          Edit

        - if @nutrition.deleteable?
          = button_to nutrition_path(@nutrition), class: 'gray-hollow-button flex gap-x-2', method: :delete do
            .h-4.w-4
              = raw heroicon :trash
            Delete

  = render 'facts', nutrition: @nutrition

  = render 'portions/index', portions: @nutrition.portions.ordered_by_primary_then_name
