= form_with(model: @form, url: login_path) do |f|
  .bg-white.px-4.py-6.rounded.shadow.flex.flex-col.gap-y-4
    .w-full
      = f.email_field :email, placeholder: 'Email address', class: 'input'
    .w-full
      = f.password_field :password, placeholder: 'Password', class: 'input'
    .actions.flex.flex-col.gap-y-2
      .w-full
        = f.submit 'Sign in', class: 'button'
      .w-full.text-center
        = link_to 'Forgot password', new_forgot_passwords_url, class: 'shy-link text-xs'
