= simple_form_for(@form, url: login_path) do |form|
  .grid-x
    .small-12.medium-3.cell
      = form.input :email, placeholder: 'Email address', label: false
  .grid-x
    .small-12.medium-3.cell
      = form.input :password, placeholder: 'Password', label: false

  .button-group
    = form.submit 'Log in', class: 'primary button'
    = link_to 'Forgot password', new_forgot_passwords_url, class: 'secondary button'
