= simple_form_for(@form, url: login_path) do |form|
  .flex
    .w-full
      = form.input :email, placeholder: 'Email address', label: false
  .flex
    .w-full
      = form.input :password, placeholder: 'Password', label: false
  .flex.flex-wrap.my-4
    .w-full
      = form.submit 'Sign in', class: 'f-button'
    .w-full.mt-1
      = link_to 'Forgot password', new_forgot_passwords_url, class: 'shy-link text-xs'
