= form_with(model: form, url: [form.meal_ingredient.journal_day, form.meal_ingredient]) do |f|
  = f.hidden_field :recipe_id, as: :hidden
  .bg-white.px-4.py-6.rounded.shadow.flex.flex-col.gap-y-4
    .flex.flex-col.gap-y-6
      .flex.flex-col.gap-y-2
        .flex.flex-col
          = f.label :portion_name, 'Portion', class: 'label'
          = f.text_field :portion_name, list: :portion_id_list, class: 'input'
          %datalist#portion_id_list
            = options_for_select PortionDecorator.portions_collection
        .flex.flex-col
          = f.label :amount_in_measure, class: 'label'
          = f.text_field :amount_in_measure, class: 'input'
        .flex.flex-col
          = f.label :measure, class: 'label'
          = f.select :measure, IngredientDecorator.measures_collection, {}, { class: 'input' }

      .actions.flex.flex-col.gap-y-2
        .w-full
          - button_text = form.persisted? ? 'Update meal' : 'Create meal'
          = f.submit button_text, class: 'button'
        .w-full.text-center
          = link_to 'Cancel', form.meal_ingredient.journal_day, class: 'text-xs text-gray-400 hover:text-gray-500 transition'
