= form_with(model: journal_day, data: { turbo: false }) do |f|
  .bg-white.rounded.overflow-hidden.shadow.divide-y.divide-gray-200
    .pt-2.pb-4.px-4
      .flex.flex-col
        = f.label :date, class: 'label'
        = f.date_field :date, class: 'input'
        = render 'layouts/forms/field_errors', errors: f.object.errors, key: :date

    .p-4.flex.flex-col.gap-y-2
      - text = f.object.new_record? ? t('.add_journal_day') : t('.edit_journal_day')
      = render SubmitButtonComponent.new(text, f.object)

      .text-center
        = link_to t('shared.buttons.cancel'), journal_day, class: 'shy-link text-xs'
