.flex.flex-col.gap-y-2
  .w-full
    %h2 Meals

  - if meals.any?
    .meals.flex.flex-col.gap-y-4
      - if meals.of_recipes.any?
        %h3.text-xs.uppercase.tracking-wide Recipes

        %ul.recipe-meals.flex.flex-col.gap-y-6
          - meals.of_recipes.ordered_by_day_partition.each do |recipe_meal|
            %li.recipe-meal.bg-white.border.border-gray-200.rounded.flex.flex-col.divide-y.divide-gray-200
              %div{ 'data-controller': 'toggleable' }
                .flex.items-center.p-4.gap-x-2
                  .grow.flex.items-center
                    .grow.text-green-700
                      = recipe_meal.decorate.display_recipe_name
                    .shrink-0.border.border-gray-200.text-gray-400.px-2.text-xs.rounded
                      = recipe_meal.decorate.display_day_partition_name
                  .shrink-0.text-xs.flex.gap-x-4.items-center
                    %button{ 'data-action': 'toggleable#toggle' }
                      .h-4.w-4.text-green-700
                        = raw heroicon :'dots-vertical'
                .flex.flex-col.gap-y-2.px-4.py-2{ 'data-toggleable-target': 'toggleable' }
                  = link_to edit_recipe_meal_path(recipe_meal), class: 'secondary-button gap-x-1 text-xs' do
                    .h-4.w-4
                      = raw heroicon :pencil
                    Edit recipe

                  = button_to meal_path(recipe_meal), method: :delete, class: 'dangerous-button gap-x-1 text-xs' do
                    .h-4.w-4
                      = raw heroicon :trash
                    Remove recipe from journal day

              - if recipe_meal.meal_ingredients.any?
                .flex
                  %ul.w-full.divide-y.divide-gray-200
                    - recipe_meal.meal_ingredients.each do |recipe_meal_ingredient|
                      %li.flex.flex-col
                        %div{ 'data-controller': 'toggleable' }
                          .flex.items-start.gap-x-2.px-4.py-3
                            .grow
                              .grid.grid-cols-12.gap-x-2.items-baseline.overflow-hidden.w-full.text-sm
                                .col-span-8
                                  = recipe_meal_ingredient.decorate.display_portion_name
                                .col-span-2.text-right.text-gray-500
                                  = recipe_meal_ingredient.decorate.quantity
                                .col-span-2.text-right.text-gray-500
                                  = recipe_meal_ingredient.decorate.rounded_amount_with_unit_abbrevation
                            .shrink-0
                              %button{ 'data-action': 'toggleable#toggle' }
                                .h-4.w-4.text-green-700
                                  = raw heroicon :'dots-vertical'

                          .flex.flex-col.p-4.gap-y-2{ 'data-toggleable-target': 'toggleable' }
                            = link_to edit_recipe_meal_ingredient_path(recipe_meal, recipe_meal_ingredient), class: 'secondary-button gap-x-1 text-xs' do
                              .h-4.w-4
                                = raw heroicon :pencil
                              Edit meal ingredient
                            = button_to meal_ingredient_path(recipe_meal_ingredient), method: :delete, class: 'dangerous-button gap-x-1 text-xs' do
                              .h-4.w-4
                                = raw heroicon :trash
                              Remove meal ingredient
              .flex.p-4
                = link_to new_recipe_meal_ingredient_path(recipe_meal), class: 'gray-dashed-button gap-x-1 text-xs' do
                  .h-4.w-4
                    = raw heroicon :'plus-sm'
                  Add portion to recipe

      %h3.text-xs.uppercase.tracking-wide Other

      .portion-meals.flex.flex-col.gap-y-2
        - if meals.of_portions.any?
          %ul.flex.flex-col.bg-white.border.border-gray-200.rounded.divide-y.divide-gray-200
            - meals.of_portions.ordered_by_day_partition.each do |portion_meal|
              - portion_meal.meal_ingredients.each do |portion_meal_ingredient|
                %li.portion-meal-ingredients.flex.flex-col
                  %div{ 'data-controller': 'toggleable' }
                    .flex.items-start.gap-x-2.px-4.py-3
                      .grow
                        .grid.grid-cols-12.gap-x-2.items-baseline.overflow-hidden.w-full.text-sm
                          .col-span-8
                            = portion_meal_ingredient.decorate.display_portion_name
                          .col-span-2.text-right.text-gray-500
                            = portion_meal_ingredient.decorate.quantity
                          .col-span-2.text-right.text-gray-500
                            = portion_meal_ingredient.decorate.rounded_amount_with_unit_abbrevation
                      .shrink-0
                        %button{ 'data-action': 'toggleable#toggle' }
                          .h-4.w-4.text-green-700
                            = raw heroicon :'dots-vertical'

                    .flex.flex-col.px-4.py-2.gap-y-2{ 'data-toggleable-target': 'toggleable' }
                      = link_to edit_portion_meal_path(portion_meal, portion_meal_ingredient), class: 'secondary-button gap-x-1 text-xs' do
                        .h-4.w-4
                          = raw heroicon :pencil
                        Edit meal ingredient
                      = button_to meal_path(portion_meal), method: :delete, class: 'dangerous-button gap-x-1 text-xs' do
                        .h-4.w-4
                          = raw heroicon :trash
                        Remove meal ingredient

        = link_to new_journal_day_portion_meal_path(@journal_day), class: 'gray-dashed-button gap-x-1 text-xs sm:text-sm' do
          .h-4.w-4
            = raw heroicon :'document'
          Add portion meal

  - else
    .text-gray-400.tracking-wider.text-sm No meals yet
