.flex.flex-col.gap-y-2
  .w-full
    %h2 Meals
  - if meal_ingredients.any?
    .flex.meal-ingredients
      .w-full
        %ul#recipes.flex.flex-col.gap-y-4
          - meal_ingredients.ordered_by_recipe.group_by(&:recipe).each do |recipe, recipe_meal_ingredients|
            %li.bg-white.border.border-gray-200.rounded.flex.flex-col
              - if recipe.present?
                .px-4.py-2{ 'data-controller': 'toggleable' }
                  .flex.items-center
                    .grow.text-sm.tracking-wide.uppercase.text-gray-500
                      = recipe.name
                    .shrink-0
                      %button.hidden.w-6.h-6.p-1.toggleable--toggler-button{ 'data-action': 'toggleable#toggle', 'data-toggleable-target': 'openButton' }
                        = raw heroicon :'chevron-down'
                      %button.hidden.w-6.h-6.p-1.toggleable--toggler-button{ 'data-action': 'toggleable#toggle', 'data-toggleable-target': 'closeButton' }
                        = raw heroicon :'chevron-up'

                  .pt-6{ 'data-toggleable-target': 'toggleable' }
                    .grid.grid-cols-1.sm:grid-cols-2.gap-2.items-center
                      = link_to new_journal_day_meal_ingredient_path(recipe_meal_ingredients.first.journal_day, recipe_id: recipe.id), class: 'button gap-x-2 text-sm' do
                        .h-4.w-4
                          = raw heroicon :'plus-sm'
                        Add portion

                      = button_to journal_day_recipe_path(recipe_meal_ingredients.first.journal_day, recipe), method: :delete, 'data-confirm': 'Are you sure?', class: 'dangerous-button gap-x-2 text-sm' do
                        .h-4.w-4
                          = raw heroicon :trash
                        Remove recipe

              - else
                .px-4.py-2.text-sm.tracking-wide.uppercase.text-gray-500.inline
                  Other

              %ul#meal-items.my-2.divide-y.divide-gray-200
                - recipe_meal_ingredients.each do |recipe_meal|
                  %li.px-4.py-2.sm:py-4
                    %div.flex.flex-col{ 'data-controller': 'toggleable' }
                      .grid.grid-cols-12.items-baseline
                        .col-span-7
                          = button_tag class: 'text-green-500 hover:text-green-600', 'data-action': 'toggleable#toggle' do
                            = recipe_meal.portion.decorate.name_with_food
                        .col-span-2.text-right
                          .text-xs.text-gray-400
                            = recipe_meal.decorate.quantity
                        .col-span-3.text-right
                          .text-xs
                            = recipe_meal.decorate.rounded_amount_with_unit_abbrevation
                      .hidden.py-4{ 'data-toggleable-target': 'toggleable' }
                        .grid.grid-cols-1.sm:grid-cols-2.gap-2
                          = link_to edit_journal_day_meal_ingredient_path(recipe_meal.journal_day, recipe_meal), class: 'button gap-x-2 text-sm' do
                            .h-4.w-4
                              = raw heroicon :pencil
                            Edit ingredient
                          = button_to journal_day_meal_ingredient_path(recipe_meal.journal_day, recipe_meal), class: 'dangerous-button gap-x-2 text-sm', method: :delete do
                            .h-4.w-4
                              = raw heroicon :trash
                            Delete ingredient
  - else
    .text-gray-400.text-center.tracking-wider.text-2xs No meals yet
