.flex.flex-col.gap-y-8
  .flex.items-center
    .w-full{ 'data-controller': 'toggleable' }
      .flex
        .grow
          %h1.text-sm.uppercase= @journal_day.decorate.display_date_with_weekday
        .shrink-0
          %button.text-gray-500.hover:text-gray-900{ 'data-action': 'toggleable#toggle', 'aria-expanded': 'true', 'aria-haspopup': 'true' }
            = render HeroiconComponent.new(:'dots-vertical')

      .grid.grid-cols-1.sm:grid-cols-2.gap-2.pt-6.pb-4{ 'data-toggleable-target': 'toggleable', role: "menu" , 'aria-orientation': "vertical", 'tabindex': "-1" }
        = render LinkToActionComponent.new('Edit journal day', edit_journal_day_path(@journal_day), icon: :pencil)
        = render DeleteButtonComponent.new('Delete journal day', @journal_day)

  .flex
    .grid.grid-cols-2.gap-2.w-full
      = render LinkToActionComponent.new('Add portion meal', new_journal_day_meal_path(@journal_day, meal_type: :portion), icon: :document)
      = render LinkToActionComponent.new('Add recipe meal', new_journal_day_meal_path(@journal_day, meal_type: :recipe), icon: :'book-open')

  = render JournalDay::NutritionsTableComponent.new(journal_day: @journal_day)
  = render 'meals', meals: @journal_day.meals
