%h1 Forgot password?

= simple_form_for(@form, url: forgot_passwords_url) do |form|
  = form.input :email, placeholder: 'Email address', label: false
  .button-group
    = form.submit 'Reset my password', name: 'reset', class: 'primary button'
    = form.submit 'Send me a magic link', name: 'magic_link', class: 'primary button'
    = link_to 'Cancel', root_path, class: 'secondary button'

