= simple_form_for recipe do |f|
  = f.input :name, placeholder: 'Recipe name'
  = f.input :servings, placeholder: 'Servings'
  = f.submit nil, class: 'success button'
  = link_to 'Cancel', recipe, class: 'button secondary'
