= simple_form_for recipe do |f|
  = f.input :name, placeholder: 'Recipe name'
  = f.input :servings, placeholder: 'Servings'

  .button-group
    = f.submit nil, class: 'primary button'
    = link_to 'Cancel', recipe, class: 'secondary button'
