= simple_form_for recipe do |f|
  .flex.flex-wrap.mb-4
    .w-full
      = f.input :name, placeholder: 'Recipe name', input_html: { class: 'w-full' }
    .w-full
      = f.input :servings, placeholder: 'Servings', input_html: { class: 'w-full' }

  .flex-wrap.mt-6
    .w-full
      = f.submit nil, class: 'f-button f-button-green w-full'
    .w-full.my-5
      - cancel_url = recipe.new_record? ? recipes_path : recipe_path(recipe)
      = link_to 'Cancel', cancel_url, class: 'shy-link text-xs'
