.flex.flex-col.gap-y-4
  .flex.flex.gap-y-2.items-baseline
    .grow
      %h2 Ingredients
    .shrink-0.text-gray-400.text-xs
      = "#{@recipe.servings} #{'serving'.pluralize(@recipe.servings)}"

  - if ingredients.present?
    %ul.recipe--ingredients.bg-white.rounded.overflow-hidden.divide-y.divide-gray-200.border.border-gray-200
      - ingredients.each do |ingredient|
        %li.p-2.sm:p-3
          %div{ 'data-controller': 'toggleable' }
            .flex.w-full
              .w-full.grid.grid-cols-5.items-baseline
                .col-span-3.flex.gap-x-2.items-start
                  .h-4.w-4.mt-1
                    = render 'icons/vegan', vegan: ingredient.decorate.vegan?
                  = button_tag class: 'text-green-500 text-left hover:text-green-600 flex items-start gap-x-1', 'data-action': 'toggleable#toggle' do
                    = ingredient.portion.decorate.name_with_food

                .col-span-1.text-gray-500.text-right.text-xs
                  = ingredient.decorate.quantity
                .col-span-1.text-right.text-right.text-xs
                  = ingredient.decorate.rounded_amount_with_unit_abbrevation
            .hidden.py-4{ 'data-toggleable-target': 'toggleable' }
              .flex.flex-col.sm:flex-row.gap-2
                = link_to edit_recipe_ingredient_path(ingredient.recipe, ingredient), class: 'button gap-x-2' do
                  .h-4.w-4
                    = raw heroicon :pencil
                  Edit ingredient

                = button_to recipe_ingredient_path(ingredient.recipe, ingredient), method: :delete, class: 'dangerous-button gap-x-2', form_class: 'w-full' do
                  .h-4.w-4
                    = raw heroicon :trash
                  Remove ingredient

  = render 'add_ingredient_button', recipe: @recipe
