- if recipe

  .grid-x.align-bottom
    .small-12.large-8.cell
    .small-3.large-1.cell.text-right kcal
    .small-3.large-1.cell.text-right Carbs
    .small-3.large-1.cell.text-right Protein
    .small-3.large-1.cell.text-right Fat

  .vertical-space-xl
    - recipe.ingredients.each do |ingredient|
      .grid-x
        .small-12.large-8.cell= ingredient.portion.decorate.name_with_nutrition
        .small-3.large-1.cell.text-right= ingredient.decorate.total_kcal
        .small-3.large-1.cell.text-right= ingredient.decorate.total_carbs
        .small-3.large-1.cell.text-right= ingredient.decorate.total_protein
        .small-3.large-1.cell.text-right= ingredient.decorate.total_fat

  .grid-x
    .small-12.large-8.cell Total recipe
    .small-3.large-1.cell.text-right= recipe.decorate.sum_kcal
    .small-3.large-1.cell.text-right.carbs= recipe.decorate.sum_carbs
    .small-3.large-1.cell.text-right.protein= recipe.decorate.sum_protein
    .small-3.large-1.cell.text-right.fat= recipe.decorate.sum_fat

  .grid-x
    .small-12.large-8.cell Per serving
    .small-3.large-1.cell.text-right= recipe.decorate.serving_kcal
    .small-3.large-1.cell.text-right= recipe.decorate.serving_carbs
    .small-3.large-1.cell.text-right= recipe.decorate.serving_protein
    .small-3.large-1.cell.text-right= recipe.decorate.serving_fat

