- if recipe
  %table.unstriped
    %tr
      %th.text-left
      %th.text-right Recipe
      %th.text-right 1 Serving
    %tr
      %th.text-left kcal
      %td.text-right= recipe.decorate.sum_kcal
      %td.text-right= recipe.decorate.serving_kcal
    %tr
      %th.text-left Carbs
      %td.text-right= recipe.decorate.sum_carbs
      %td.text-right= recipe.decorate.serving_carbs

    %tr.gray
      %th.text-left Carbs sugar part
      %td.text-right= recipe.decorate.sum_carbs_sugar_part
      %td.text-right= recipe.decorate.serving_carbs_sugar_part

    %tr.protein
      %th.text-left Protein
      %td.text-right= recipe.decorate.sum_protein
      %td.text-right= recipe.decorate.serving_protein

    %tr.fat
      %th.text-left Fat
      %td.text-right= recipe.decorate.sum_fat
      %td.text-right= recipe.decorate.serving_fat

    %tr.gray
      %th.text-left Fat saturated
      %td.text-right= recipe.decorate.sum_fat_saturated
      %td.text-right= recipe.decorate.serving_fat_saturated

    %tr.gray
      %th.text-left Fiber
      %td.text-right= recipe.decorate.sum_fiber
      %td.text-right= recipe.decorate.serving_fiber
