.flex.flex-col.gap-y-4
  .flex.flex.gap-y-2.items-baseline
    .grow
      %h2 Ingredients
    .shrink-0.text-gray-400.text-xs
      = "#{@recipe.servings} #{'serving'.pluralize(@recipe.servings)}"

  - if recipe_ingredients.present?
    %ul.recipe--ingredients.bg-white.rounded.overflow-hidden.divide-y.divide-gray-200.border.border-gray-200
      - recipe_ingredients.each do |ingredient|
        %li.p-2.sm:p-3
          %div{ 'data-controller': 'toggleable' }
            .flex.w-full
              .w-full.grid.grid-cols-5.items-baseline
                .col-span-3.flex.gap-x-2.items-start
                  .h-4.w-4.mt-1
                    = render VeganBadgeIconComponent.new(ingredient.vegan?)
                  = button_tag class: 'text-green-500 text-left hover:text-green-600 flex items-start gap-x-1', 'data-action': 'toggleable#toggle' do
                    = ingredient.portion.decorate.name_with_food

                .col-span-1.text-gray-500.text-right.text-xs
                  = ingredient.decorate.quantity
                .col-span-1.text-right.text-right.text-xs
                  = ingredient.decorate.rounded_amount_with_unit_abbrevation
            .hidden.py-4{ 'data-toggleable-target': 'toggleable' }
              - if @recipe.active?
                .flex.flex-col.sm:flex-row.gap-2
                  = render LinkToActionComponent.new('Edit ingredient', edit_recipe_ingredient_path(ingredient.recipe, ingredient), icon: :pencil)
                  = render DeleteButtonComponent.new('Remove ingredient', recipe_ingredient_path(ingredient.recipe, ingredient))

  - if @recipe.active?
    = render LinkToActionComponent.new('Add ingredient', new_recipe_ingredient_path(@recipe), icon: :'plus-sm', button: :gray_dashed)
