.flex
  %h1 Recipes

.flex.my-5
  = link_to 'New Recipe', new_recipe_path, class: 'f-button f-button-green w-full'

.flex.my-5
  .w-full
    = render 'layouts/search', form_url: recipes_path

= render 'layouts/pagy', pagy: @pagy

.flex
  .w-full
    = render 'recipes/index', recipes: @recipes

= render 'layouts/pagy', pagy: @pagy
