.flex.mb-4
  .w-full
    %h1 Recipes

.flex.mb-4
  .w-full
    = link_to 'New Recipe', new_recipe_path, class: 'f-button w-full'

.flex.mb-4
  .w-full
    = render 'layouts/search', form_url: recipes_path

.flex
  .w-full
    = paginate @recipes

.flex
  .w-full
    = render 'recipes/index', recipes: @recipes

.flex
  .w-full
    = paginate @recipes
