.flex.flex-col.gap-y-4
  .flex
    %h1= Recipe.model_name.human(count: 0)

  .flex
    = render LinkToActionComponent.new(t('.add_recipe'), new_recipe_path, icon: :'plus-sm')

  .flex
    .w-full
      = render 'layouts/search', form_url: recipes_path

  = render 'layouts/pagy', pagy: @pagy

  .flex
    .w-full
      = render 'recipes/index', recipes: @recipes

  = render 'layouts/pagy', pagy: @pagy
