%h1 Recipes
= link_to 'New Recipe', new_recipe_path, class: 'primary button'

= render 'layouts/search', form_url: recipes_path

.vertical-space-xl= paginate @recipes

= render 'recipes/index', recipes: @recipes

.vertical-space-xl= paginate @recipes
