.flex.mb-5
  .w-full
    %h1 Recipes

.flex.mb-5
  .w-full
    = link_to 'New Recipe', new_recipe_path, class: 'f-button f-button-green w-full'

.flex.mb-5
  .w-full
    = render 'layouts/search', form_url: recipes_path

.flex
  .w-full
    = paginate @recipes

.flex
  .w-full
    = render 'recipes/index', recipes: @recipes

.flex.mt-10
  .w-full
    = paginate @recipes
