.flex.flex-col.gap-y-4
  .flex
    %h1 Recipes

  .flex
    = render LinkToActionComponent.new('Add recipe', new_recipe_path, icon: :'plus-sm')

  .flex
    .w-full
      = render 'layouts/search', form_url: recipes_path

  = render 'layouts/pagy', pagy: @pagy

  .flex
    .w-full
      = render 'recipes/index', recipes: @recipes

  = render 'layouts/pagy', pagy: @pagy
