.flex.flex-wrap.mb-4
  .w-full
    .float-right.bottom.font-bold.text-green-600.text-2xs
      = render 'icons/vegan', vegan: @recipe.vegan?
    %h1= @recipe.name
  .w-full.text-2xs
    = link_to 'Edit', edit_recipe_path(@recipe), class: 'shy-link mr-2'
    = link_to 'Copy', new_recipe_copy_path(@recipe), class: 'shy-link'

.flex.flex-wrap.mb-4
  .w-full
    %h2 Nutritions
  .w-full.text-3xs
    = render 'nutritions/table', nutritions_table: @recipe.to_nutritions_table

.flex.mb-4
  .w-full
    %h2 Ingredients
    .text-2xs.text-gray-500
      = "#{@recipe.servings} #{'serving'.pluralize(@recipe.servings)}"

.flex.flex-wrap.mb-4
  .w-full
    = render 'ingredients', ingredients: @recipe.ingredients
  .w-full
    = link_to 'Add ingredient', new_recipe_ingredient_path(@recipe), class: 'f-button w-full'

.flex.my-8
  .w-full
    = link_to 'Delete recipe', @recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: 'f-button f-button-red-hollow w-full'


