%h1= @recipe.name

= link_to 'Edit', edit_recipe_path(@recipe), class: 'button secondary'
= link_to 'Delete', @recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button warning'

.row
  .small-12.column
    = render 'recipes/macronutrient_bar', recipe: @recipe

.row
  .large-12.column
    .card
      .card-divider
        %h2= "Ingredients for #{@recipe.servings} #{'serving'.pluralize(@recipe.servings)}"
      .card.section
        - if @recipe.ingredients.any?
          %table.unstriped
            %tr
              %th.text-right
              %th.text-right pc.
              %th.text-left Ingredient
              %th.text-right Total
              %th.text-left
            - @recipe.ingredients.each do |ingredient|
              %tr
                %td.text-right
                  = link_to edit_recipe_ingredient_path(@recipe, ingredient) do
                    = fa_icon 'pencil'
                  = link_to recipe_ingredient_path(@recipe, ingredient), method: :delete, data: { confirm: 'Are you sure?' } do
                    = fa_icon 'trash-o'
                %td.text-right= ingredient.decorate.quantity
                %td.text-left= ingredient.portion.decorate.name_with_nutrition
                %td.text-right= ingredient.decorate.rounded_amount
                %td.text-left= ingredient.decorate.unit_abbrevation

        - else
          Start adding ingredients
    = link_to 'Add ingredient', new_recipe_ingredient_path(@recipe), class: 'primary button'

- if @recipe.ingredients.any?
  .row
    .large-6.column
      .card
        .card-divider
          %h2 Nutritions
        .card-section
          = render 'recipes/nutritions', recipe: @recipe


