.flex.flex-col.gap-y-8
  .flex.items-center
    .w-full{ 'data-controller': 'toggleable' }
      .flex
        .grow.flex.flex-col.gap-y-1
          %h1.text-sm.uppercase
            = @recipe.name
          - if @recipe.vegan?
            .flex.items-end.gap-x-1.text-2xs.text-gray-400
              = render 'icons/vegan', vegan: @recipe.vegan?
              Vegan
        .shrink-0
          %button.text-gray-500.hover:text-gray-900{ 'data-action': 'toggleable#toggle', 'aria-expanded': 'true', 'aria-haspopup': 'true' }
            .h-4.w-4
              = raw heroicon :'dots-vertical'
      .recipe-actions.grid.grid-cols-1.gap-2.pt-6.pb-4{ 'data-toggleable-target': 'toggleable', role: "menu" , 'aria-orientation': "vertical", 'tabindex': "-1" }
        = link_to edit_recipe_path(@recipe), class: 'button flex items-center gap-x-2' do
          .h-4.w-4
            = raw heroicon :pencil
          Edit

        = link_to new_recipe_copy_path(@recipe), class: 'secondary-button flex items-center gap-x-2' do
          .h-4.w-4
            = raw heroicon :duplicate
          Copy

        = button_to @recipe, method: :delete, class: 'dangerous-button gap-x-2' do
          .h-4.w-4
            = raw heroicon :trash
          Delete recipe


  = render 'nutritions/table', nutritions_table: @recipe.to_nutritions_table

  = render 'ingredients', ingredients: @recipe.ingredients
