.flex.flex-wrap.mb-4
  .w-full
    .float-right.bottom.font-bold.text-green-600.text-2xs
      = render 'icons/vegan', vegan: @recipe.vegan?
    %h1= @recipe.name
  .w-full.text-2xs
    = link_to 'Edit', edit_recipe_path(@recipe), class: 'shy-link mr-2'
    = link_to 'Copy', new_recipe_copy_path(@recipe), class: 'shy-link'

.flex.flex-wrap.mb-4
  .w-full
    %h2 Nutritions
  .w-full.text-3xs
    TODO: Reuse 'journal_days/nutritions'

.flex
  .w-full
    %h2 Ingredients
    .text-2xs.text-gray-500
      = "#{@recipe.servings} #{'serving'.pluralize(@recipe.servings)}"

.flex.mb-4
  .w-full
    - @recipe.ingredients.each do |ingredient|
      .flex
        .w-full
          = ingredient.decorate.rounded_amount_with_unit_abbrevation
        .w-full
          = ingredient.decorate.quantity_with_pieces
      .flex
        .w-full
          .float-right
            = render 'icons/vegan', vegan: ingredient.portion.nutrition.vegan?
          = ingredient.portion.decorate.name_with_nutrition
      .flex
        .w-full
          = link_to 'Edit', edit_recipe_ingredient_path(@recipe, ingredient)
          = link_to 'Delete', recipe_ingredient_path(@recipe, ingredient), method: :delete, data: { confirm: 'Are you sure?' }

.flex.mb-4
  .w-full
    = link_to 'Add ingredient', new_recipe_ingredient_path(@recipe), class: 'f-button w-full'

.flex.my-6
  .w-full
    = link_to 'Delete recipe', @recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: 'f-button f-button-red-hollow w-full'


