.label.kcal= "#{fact_data.display_rounded_kcal} kcal"
.label.carbs= "Carbs #{fact_data.display_rounded_carbs}g"
.label.protein= "Protein #{fact_data.display_rounded_protein}g"
.label.fat= "Fat #{fact_data.display_rounded_fat}g"
