%h1 Users

%table.unstriped.hover
  %thead
    %tr
      %th Name
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td.text-right
          - if user.is_admin?
            = fa_icon 'id-badge'
          - else
            = link_to user_path(user), method: :delete, data: { confirm: 'Are you sure?' } do 
              = fa_icon 'trash-o'


= link_to 'Invite a person', new_user_path, class: 'primary button'
