.flex.flex-col.gap-y-4
  %h1.text-sm= t('.title')
  = link_to @component.form.object.recipe, class: 'shy-link text-xs inline-flex gap-x-1 items-center' do
    = render HeroiconComponent.new(:'chevron-left')
    = t('shared.buttons.back')

  = turbo_frame_tag dom_id(@component.form.object) do
    = render @component
