= form_with(model: form, data: { turbo: false }) do |f|
  .bg-white.px-4.py-6.rounded.shadow.flex.flex-col.gap-y-4
    .flex.flex-col.gap-y-6
      .flex.flex-col.gap-y-2
        .flex
          .grow
            - if form.object.meal.recipe?
              .flex.flex-col
                .text-xs.text-green-700= Recipe.model_name.human
                .text-sm.text-gray-600= form.object.meal.decorate.display_recipe_name
          .shrink-0
            .flex.flex-col.gap-y-1.text-right
              .text-xs.text-green-700= JournalDay.model_name.human
              .text-sm.text-gray-600= form.object.meal.journal_day.decorate.display_date

      .flex.flex-col.gap-y-2
        .flex.flex-col
          = f.label :portion_name, class: 'label'
          = f.text_field :portion_name, list: :portion_id_list, class: 'input'
          = render 'layouts/forms/field_errors', errors: f.object.errors, key: :portion_name
          %datalist#portion_id_list
            = options_for_select PortionDecorator.portions_collection(form.user)

        .flex.flex-col
          = f.label :amount_in_measure, class: 'label'
          = f.number_field :amount_in_measure, step: 0.001, class: 'input', inputmode: 'decimal'
          = render 'layouts/forms/field_errors', errors: f.object.errors, key: :amount_in_measure

        .flex.flex-col
          = f.label :measure, class: 'label'
          = f.select :measure, RecipeIngredientDecorator.measures_collection, {}, { class: 'input' }

      .actions.flex.flex-col.gap-y-2.mt-2
        .w-full
          - text = f.object.new_record? ? t('.add_meal_ingredient') : t('.update_meal_ingredient')
          = render SubmitButtonComponent.new(text, form.object)
        .w-full.text-center
          = render CancelLinkComponent.new(href: form.object.meal.journal_day)
