= form_with(model: food, data: { turbo: false }, class: 'food') do |f|
  .bg-white.rounded.overflow-hidden.shadow.divide-y.divide-gray-200
    .pt-2.pb-4.px-4
      .flex.flex-col
        = f.label :name, class: 'label'
        = f.text_field :name, class: 'input', placeholder: 'Wheat, Tomato, Beans...'
        = render 'layouts/forms/field_errors', errors: f.object.errors, key: :name

    .pt-2.pb-4.px-4
      .flex.flex-col
        = f.label :unit, class: 'label'
        = f.select :unit, food.decorate.units_collection, {}, { class: 'input' }
        = render 'layouts/forms/field_errors', errors: f.object.errors, key: :unit

    .p-4
      .flex.gap-x-2
        = f.check_box :vegan, class: 'checkbox'
        = f.label :vegan, class: 'label'
        = render 'icons/vegan', vegan: true

    .pt-2.pb-4.px-4
      .grid.grid-cols-2.gap-2
        .flex.flex-col
          = f.label :kcal, class: 'label'
          = f.number_field :kcal, class: 'input', min: 0, step: 1
          = render 'layouts/forms/field_errors', errors: f.object.errors, key: :kcal

        .empty-cell

        .flex.flex-col
          = f.label :carbs, class: 'label'
          = f.number_field :carbs, class: 'input', min: 0, step: 0.001
          = render 'layouts/forms/field_errors', errors: f.object.errors, key: :carbs

        .flex.flex-col
          = f.label :carbs_sugar_part, class: 'label'
          = f.number_field :carbs_sugar_part, class: 'input', min: 0, step: 0.001
          = render 'layouts/forms/field_errors', errors: f.object.errors, key: :carbs_sugar_part

        .flex.flex-col
          = f.label :protein, class: 'label'
          = f.number_field :protein, class: 'input', min: 0, step: 0.001
          = render 'layouts/forms/field_errors', errors: f.object.errors, key: :protein

        .empty-cell

        .flex.flex-col
          = f.label :fat, class: 'label'
          = f.number_field :fat, class: 'input', min: 0, step: 0.001
          = render 'layouts/forms/field_errors', errors: f.object.errors, key: :fat

        .flex.flex-col
          = f.label :fat_saturated, class: 'label'
          = f.number_field :fat_saturated, class: 'input', min: 0, step: 0.001
          = render 'layouts/forms/field_errors', errors: f.object.errors, key: :fat_saturated

        .flex.flex-col
          = f.label :fiber, class: 'label'
          = f.number_field :fiber, class: 'input', min: 0, step: 0.001
          = render 'layouts/forms/field_errors', errors: f.object.errors, key: :fiber

    .p-4.flex.flex-col.gap-y-2
      = f.button type: :submit, class: 'button gap-x-1' do
        - if f.object.persisted?
          .h-4.w-4
            = raw heroicon :pencil
          Update food
        - else
          .h-4.w-4
            = raw heroicon :'plus-sm'
          Add food

      .text-center
        = link_to 'Cancel', foods_path, class: 'shy-link text-xs'
