.flex.flex-col.gap-y-4
  .flex
    %h1 Nutritions

  .flex
    = link_to new_nutrition_path, class: 'button flex items-center gap-x-1' do
      .h-4.w-4
        = raw heroicon :'plus-sm'
      Add nutrition

  .flex
    .w-full
      = render 'layouts/search', form_url: nutritions_path

  = render 'layouts/pagy', pagy: @pagy

  .flex
    %ul.nutritions.flex.flex-col.gap-y-4
      - @nutritions.each do |nutrition|
        %li
          = link_to nutrition_path(nutrition), class: 'flex flex-col gap-y-2 p-4 bg-white rounded border border-gray-200 hover:border-green-700 transition' do
            .w-full.flex.items-center
              .grow
                = nutrition.name
              .shrink-0
                = render 'icons/vegan', vegan: nutrition.vegan?
            .w-full
              = render 'macronutrients/fact_labels', fact_data: nutrition.macronutrient_data

  = render 'layouts/pagy', pagy: @pagy
