.flex.flex-col.gap-y-4
  .flex
    %h1 Foods

  .flex
    = render LinkToActionComponent.new('Add food', new_food_path, icon: :'plus-sm')

  .flex
    .w-full
      = render 'layouts/search', form_url: foods_path

  = render 'layouts/pagy', pagy: @pagy

  .flex
    %ul.foods.flex.flex-col.gap-y-4.w-full
      - @foods.each do |food|
        %li
          = link_to food_path(food), class: 'flex flex-col gap-y-2 p-4 bg-white rounded border border-gray-200 hover:border-green-700 transition' do
            .w-full.flex.items-center
              .grow
                = food.name
              .shrink-0
                = render VeganBadgeIconComponent.new(food.vegan?)
            .w-full
              = render NutrientLabelsComponent.new(object: food)

  = render 'layouts/pagy', pagy: @pagy
