%h1= "Journal days containing #{@nutrition.name}"

.mt-2.mb-5
  = link_to "Back to #{@nutrition.name}", nutrition_path(@nutrition), class: 'shy-link text-xs'

= render 'my/journal_days/index', journal_days: @nutrition.on_journal_days.decorate
