.flex.flex-col.gap-y-4
  %h1= 'Edit recipe on journal day'

  = form_with(model: form, data: { turbo: false }) do |f|
    .bg-white.rounded.overflow-hidden.shadow.divide-y.divide-gray-200
      .p-4.flex.flex-col.gap-y-2
        .flex.flex-col
          = f.label :day_partition_id, class: 'label'
          = f.select :day_partition_id, form.day_partition_options, { include_blank: true }, class: 'input'

      .p-4.flex.flex-col.gap-y-2
        = render SubmitButtonComponent.new('Edit recipe on journal day', form.object)

        .text-center
          = link_to 'Cancel', form.object.journal_day, class: 'shy-link text-xs'
