.flex.flex-col.gap-y-4
  %h1= DayPartition.model_name.human(count: 0)

  .flex
    = render LinkToActionComponent.new(t('.add_day_partition'), new_day_partition_path, icon: :'plus-sm')

  .flex.flex-col.gap-y-4
    %ul.day-partitions.flex.flex-col.gap-y-2.w-full
      - @day_partitions.each do |day_partition|
        %li
          = link_to edit_day_partition_path(day_partition), class: 'p-4 bg-white rounded border border-gray-200 hover:border-gray-400 flex items-center gap-x-2' do
            .shrink-0.text-gray-400
              = day_partition.position
            .grow
              = day_partition.name
            .shrink-0
              = render HeroiconComponent.new(:'chevron-right')
