.flex.flex-col.gap-y-4
  %h1 Day partitions

  .flex
    = link_to new_day_partition_path, class: 'button gap-x-1' do
      .h-4.w-4
        = raw heroicon :'plus-sm'
      Add day partition

  .flex
    %ul.day-partitions.flex.flex-col.gap-y-2.w-full
      - @day_partitions.each do |day_partition|
        %li
          = link_to edit_day_partition_path(day_partition), class: 'p-4 bg-white rounded border border-gray-200 hover:border-green-700 transition flex items-center' do
            .grow
              = day_partition.name
            .shrink-0
              = day_partition.position
