= form_with(model: journal_day, url: [:my, journal_day], data: { turbo: false }) do |f|
  .bg-white.rounded.overflow-hidden.shadow.divide-y.divide-gray-200
    .pt-2.pb-4.px-4
      .flex.flex-col
        = f.label :date, class: 'label'
        = f.date_field :date, class: 'input'
        = render 'layouts/forms/field_errors', errors: f.object.errors, key: :date

    .p-4.flex.flex-col.gap-y-2
      = f.button type: :submit, class: 'button gap-x-1' do
        .h-4.w-4
          = raw heroicon :'plus-sm'
        Add journal day

      .text-center
        = link_to 'Cancel', foods_path, class: 'shy-link text-xs'
