= simple_form_for journal_day, url: [:my, journal_day] do |form|
  = form.input :date, as: :date

  .button-group
    = form.submit nil, class: 'primary button'
    - if journal_day.new_record?
      = link_to 'Cancel', my_journal_days_path, class: 'secondary button'
    - else
      = link_to 'Cancel', my_journal_day_path(journal_day), class: 'secondary button'
