- if meals.any?
  .flex.my-4
    .w-full
      %ul
      - meals.ordered_by_recipe.group_by(&:recipe).each do |recipe, recipe_meals|
        %li.mb-10
          .text-sm.tracking-wide.uppercase.text-gray-500= recipe&.name || "Other"
          %ul#meals.mt-2
            - recipe_meals.each do |recipe_meal|
              %li.border-0.border-b.border-gray-300.py-2
                .flex.js-toggle-actions
                  .w-full
                    .inline-block
                      .inline.fake-link= recipe_meal.portion.decorate.name_with_nutrition
                      .inline.text-2xs.text-gray-400= recipe_meal.decorate.quantity_with_pieces
                    .float-right
                      = recipe_meal.decorate.rounded_amount_with_unit_abbrevation
                .actions.hidden
                  .flex.text-2xs.mt-2.text-center.flex-wrap.sm:flex-no-wrap
                    .py-2.w-full{ class: 'sm:w-1/2 sm:mr-1' }
                      = link_to 'Edit', edit_my_journal_day_meal_path(recipe_meal.journal_day, recipe_meal), class: 'f-button f-button-green w-full'
                    .py-2.w-full{ class: 'sm:w-1/2 sm:ml-1' }
                      = link_to 'Delete', my_journal_day_meal_path(recipe_meal.journal_day, recipe_meal), class: 'f-button w-full', method: :delete, data: { confirm: 'Are you sure?' }
- else
  .text-gray-400.text-center.tracking-wider.text-2xs No meals yet

