- if meals.any?
  .flex.my-4
    .w-full
      %ul#recipes.flex.flex-col.gap-y-4
        - meals.ordered_by_recipe.group_by(&:recipe).each do |recipe, recipe_meals|
          %li.bg-white.border.border-gray-200.rounded.shadow.flex.flex-col
            - if recipe.present?
              .px-4.py-2{ 'data-controller': 'toggleable' }
                .flex.items-center
                  .grow.text-sm.tracking-wide.uppercase.text-gray-500
                    = recipe.name
                  .shrink-0
                    %button.hidden.w-6.h-6.p-1.toggleable--toggler-button{ 'data-action': 'toggleable#toggle', 'data-toggleable-target': 'openButton' }
                      = raw heroicon :'chevron-down'
                    %button.hidden.w-6.h-6.p-1.toggleable--toggler-button{ 'data-action': 'toggleable#toggle', 'data-toggleable-target': 'closeButton' }
                      = raw heroicon :'chevron-up'

                .pt-6{ 'data-toggleable-target': 'toggleable' }
                  .grid.grid-cols-1.sm:grid-cols-2.gap-2.items-center
                    = link_to new_my_journal_day_meal_path(recipe_meals.first.journal_day, recipe_id: recipe.id), class: 'py-2 text-sm text-center rounded bg-green-300 hover:bg-green-400 transition flex items-center justify-center gap-x-2 text-gray-800' do
                      .h-4.w-4
                        = raw heroicon :'plus-sm'
                      Add portion
                    = button_to my_journal_day_recipe_path(recipe_meals.first.journal_day, recipe), method: :delete, 'data-confirm': 'Are you sure?', class: 'w-full text-center rounded text-sm border py-2 text-gray-400 hover:text-red-500 hover:border-red-300 hover:bg-white transition flex items-center justify-center gap-x-2' do
                      .h-4.w-4
                        = raw heroicon :trash
                      Delete recipe

            - else
              .text-sm.tracking-wide.uppercase.text-gray-500.inline
                Other

            %ul#meals.my-2.divide-y.divide-gray-200
              - recipe_meals.each do |recipe_meal|
                %li.px-4.py-4
                  %div.flex.flex-col{ 'data-controller': 'toggleable' }
                    .grid.grid-cols-12.items-baseline
                      .col-span-7
                        = button_tag class: 'text-green-500 hover:text-green-600', 'data-action': 'toggleable#toggle' do
                          = recipe_meal.portion.decorate.name_with_nutrition
                      .col-span-2.text-right
                        .text-xs.text-gray-400
                          = recipe_meal.decorate.quantity
                      .col-span-3.text-right
                        .text-xs
                          = recipe_meal.decorate.rounded_amount_with_unit_abbrevation
                    .hidden.pt-4{ 'data-toggleable-target': 'toggleable' }
                      .grid.grid-cols-1.sm:grid-cols-2.gap-2
                        = link_to edit_my_journal_day_meal_path(recipe_meal.journal_day, recipe_meal), class: 'p-2 text-sm rounded bg-green-300 hover:bg-green-400 transition flex items-center justify-center gap-x-2' do
                          .h-4.w-4
                            = raw heroicon :pencil
                          Edit
                        = button_to my_journal_day_meal_path(recipe_meal.journal_day, recipe_meal), class: 'w-full rounded text-sm border p-2 text-gray-400 hover:text-red-500 hover:border-red-300 hover:bg-white transition flex items-center justify-center gap-x-2', method: :delete do
                          .h-4.w-4
                            = raw heroicon :trash
                          Delete ingredient
- else
  .text-gray-400.text-center.tracking-wider.text-2xs No meals yet
