- if meals.any?
  .flex.my-4
    .w-full
      %ul#recipes
        - meals.ordered_by_recipe.group_by(&:recipe).each do |recipe, recipe_meals|
          %li.mb-10
            - if recipe.present?
              %div{ 'data-controller': 'meal-actions' }
                .flex.items-center
                  .grow.text-sm.tracking-wide.uppercase.text-gray-500
                    = recipe.name
                  %button.w-5.h-5.p-1.innline-block.text-xs.shrink-0.bg-gray-100.rounded-full.border.hover:border-gray-300.transition{ 'data-action': 'meal-actions#toggleActions' }
                    = raw heroicon :'dots-vertical'
                .hidden.py-2{ 'data-meal-actions-target': 'actionsMenu' }
                  .flex.flex-col.sm:flex-row.gap-2
                    = link_to 'Add portion to recipe on journal day', new_my_journal_day_meal_path(recipe_meals.first.journal_day, recipe_id: recipe.id), class: 'f-button f-button-green w-full rounded'
                    = button_to 'Remove recipe from journal day', my_journal_day_recipe_path(recipe_meals.first.journal_day, recipe), method: :delete, 'data-confirm': 'Are you sure?', class: 'w-full text-center rounded text-xs bg-gray-50 border p-2 text-gray-400 hover:text-red-500 transition hover:border-red-300'

            - else
              .text-sm.tracking-wide.uppercase.text-gray-500.inline
                Other


            %ul#meals.mt-2
              - recipe_meals.each do |recipe_meal|
                %li.border-0.border-b.border-gray-300.py-2
                  .flex.js-toggle-actions
                    .w-full
                      .inline-block
                        .inline.fake-link= recipe_meal.portion.decorate.name_with_nutrition
                        .inline.text-2xs.text-gray-400= recipe_meal.decorate.quantity_with_pieces
                      .float-right
                        = recipe_meal.decorate.rounded_amount_with_unit_abbrevation
                  .actions.hidden.py-2
                    .flex.flex-col.sm:flex-row.gap-2
                      = link_to 'Edit', edit_my_journal_day_meal_path(recipe_meal.journal_day, recipe_meal), class: 'f-button f-button-green w-full rounded'
                      = button_to 'Delete', my_journal_day_meal_path(recipe_meal.journal_day, recipe_meal), class: 'w-full text-center rounded text-xs bg-gray-50 border p-1 text-gray-400 hover:text-red-500 transition hover:border-red-300', method: :delete, data: { confirm: 'Are you sure?' }
- else
  .text-gray-400.text-center.tracking-wider.text-2xs No meals yet
