.flex.flex-col.gap-y-4
  .flex
    %h1 My journal days

  .flex
    = link_to new_my_journal_day_path, class: 'button gap-x-2' do
      .h-4.w-4
        = raw heroicon :'plus-sm'
      Add journal day

  = render 'layouts/pagy', pagy: @pagy

  .flex
    .w-full
      = render 'index', journal_days: @journal_days

  = render 'layouts/pagy', pagy: @pagy
