
.flex
  .w-full
    %h1= @journal_day.display_date_with_weekday

.flex.mb-4
  .w-full
    = link_to 'Edit', edit_my_journal_day_path(@journal_day), class: 'shy-link text-xs'

.flex.mb-8.flex-wrap
  .w-full.mb-1
    = link_to 'Add portion meal', new_my_journal_day_meal_path(@journal_day), class: 'f-button f-button-green w-full'
  .w-full.mt-1
    = link_to 'Add recipe meal',  new_my_journal_day_recipe_path(@journal_day), class: 'f-button f-button-green w-full'

.flex.flex-wrap.mb-4
  .w-full
    %h2 Nutritions
  .w-full
    = render 'nutritions/table', nutritions_table: @journal_day.to_nutritions_table

.flex.flex-wrap.mb-8
  .w-full
    %h2 Meals
  .w-full
    = render 'meals', meals: @journal_day.meals

.flex.mt-16
  .w-full
    = button_to 'Delete journal day', my_journal_day_path(@journal_day), method: :delete, data: { confirm: 'Are you sure?' }, class: 'w-full text-center rounded text-xs bg-gray-50 border p-2 text-gray-400 hover:text-red-500 transition hover:border-red-300'
