.flex.flex-col.gap-y-8
  .flex.items-center
    .w-full{ 'data-controller': 'toggleable' }
      .flex
        .grow
          %h1.text-sm.uppercase= @journal_day.display_date_with_weekday
        .shrink-0
          %button.text-gray-500.hover:text-gray-900{ 'data-action': 'toggleable#toggle', 'aria-expanded': 'true', 'aria-haspopup': 'true' }
            .h-4.w-4
              = raw heroicon :'dots-vertical'

      .grid.grid-cols-1.sm:grid-cols-2.gap-2.pt-6.pb-4{ 'data-toggleable-target': 'toggleable', role: "menu" , 'aria-orientation': "vertical", 'tabindex': "-1" }
        = link_to edit_my_journal_day_path(@journal_day), class: 'button gap-x-2' do
          .h-4.w-4
            = raw heroicon :pencil
          Edit journal day

        = button_to edit_my_journal_day_path(@journal_day), class: 'dangerous-button gap-x-2', method: :delete do
          .h-4.w-4
            = raw heroicon :trash
          Delete journal day

  .flex
    .grid.grid-cols-2.gap-2.w-full
      = link_to new_my_journal_day_meal_path(@journal_day), class: 'button gap-x-1 text-xs sm:text-sm' do
        .h-4.w-4
          = raw heroicon :'document'
        Add portion meal

      = link_to new_my_journal_day_recipe_path(@journal_day), class: 'button gap-x-1 text-xs sm:text-sm' do
        .h-4.w-4
          = raw heroicon :'book-open'
        Add recipe meal


  = render 'nutritions/table', nutritions_table: @journal_day.to_nutritions_table

  = render 'meals', meals: @journal_day.meals
