= form_with(model: portion, local: true) do |form|
  .field
    = form.label :name
    = form.text_field :name, id: :portion_name

  .field
    = form.label :nutrition_id
    = form.collection_select :nutrition_id, Nutrition.all, :id, :name

  .field
    = form.label :multiplier
    = form.text_field :multiplier, id: :portion_multiplier

  .actions
    = form.submit
