= simple_form_for portion, url: nutrition_portions_path do |form|
  = form.input :name
  = form.input :multiplier
  = form.submit nil, class: 'primary button'
  = link_to 'Cancel', nutrition_path(portion.nutrition), class: 'secondary button'
