= simple_form_for [portion.nutrition, portion] do |form|
  = form.input :name
  = form.input :amount_in_g_or_ml, label: 'Amount in g/ml'
  = form.submit nil, class: 'primary button'
  = link_to 'Cancel', nutrition_path(portion.nutrition), class: 'secondary button'
