= simple_form_for [portion.nutrition, portion] do |form|
  .flex.flex-wrap.mb-4
    .w-full
      = form.input :name, input_html: { class: 'w-full' }
    .w-full
      = form.input :amount, label: 'Amount in g/ml', input_html: { class: 'w-full' }

  .flex.flex-wrap.mt-6
    .w-full
      = form.submit nil, class: 'f-button w-full'
    .w-full
      = link_to 'Cancel', nutrition_path(portion.nutrition), class: 'shy-link text-sm'
