= simple_form_for [portion.nutrition, portion] do |form|
  .flex.mb-4
    .w-full
      = form.input :name
    .w-full
      = form.input :amount, label: 'Amount in g/ml'

  .flex.flex-wrap.mt-6
    .w-full
      = form.submit nil, class: 'f-button w-full'
    .w-full
      = link_to 'Cancel', nutrition_path(portion.nutrition), class: 'secondary button'
