- if portions.present?
  %ul
  - portions.ordered_by_amount.each do |portion|
    %li.py-1
      %div{ 'data-controller': 'toggleable' }
        .flex
          .grow
            - if portion.primary?
              .text-gray-400
                Default
            - else
              = button_tag portion.name, class: 'text-green-500 hover:text-green-600', 'data-action': 'toggleable#toggle'
          .shrink-0
            %span{ class: "unit unit-#{portion.nutrition.decorate.unit_abbrevation}" }
              = portion.amount
        - unless portion.primary?
          .hidden.py-2{ 'data-toggleable-target': 'toggleable' }
            .grid.grid-cols-2.gap-x-2
              = link_to 'Edit', edit_nutrition_portion_path(portion.nutrition, portion), class: 'w-full f-button f-button-green rounded'
              = button_to 'Delete',
                        nutrition_portion_path(portion.nutrition, portion),
                        method: :delete,
                        data: { confirm: 'Are you sure?' },
                        class: 'w-full text-center rounded text-xs bg-gray-50 border p-1 text-gray-400 hover:text-red-500 transition hover:border-red-300'

- else
  .text-gray-500.text-center.text-xs There are no portions yet
