.flex.flex-col.gap-y-2
  .w-full
    %h2 Portions

  .flex.flex-col.gap-y-4
    %ul.food--portions.bg-white.rounded.overflow-hidden.divide-y.divide-gray-200.border.border-gray-200
      - portions.ordered_by_amount.each do |portion|
        %li.p-2.sm:p-3
          %div{ 'data-controller': 'toggleable' }
            .flex.items-center.gap-x-2
              .grow.text-sm
                .grid.grid-cols-12{ class: (portion.primary? ? 'text-gray-400' : nil) }
                  .col-span-9
                    = portion.decorate.display_name
                  .col-span-3.text-right
                    = portion.decorate.display_amount_with_unit_abbreviation_after
              .shrink-0.flex.items-center
                - if portion.primary?
                  .w-4
                - else
                  = button_tag 'data-action': 'toggleable#toggle' do
                    .h-4.w-4.text-green-700
                      = render HeroiconComponent.new(:'dots-vertical')

            - unless portion.primary?
              .hidden.py-2{ 'data-toggleable-target': 'toggleable' }
                .flex.gap-x-2
                  = link_to edit_food_portion_path(portion.food, portion), class: 'button gap-x-1 text-xs' do
                    .h-4.w-4
                      = raw heroicon :pencil
                    Edit portion

                  - if portion.deleteable?
                    = button_to food_portion_path(portion.food, portion), class: 'dangerous-button gap-x-1 text-xs', method: :delete, form_class: 'w-full' do
                      .h-4.w-4
                        = raw heroicon :trash
                      Remove portion

    .w-full
      = link_to new_food_portion_path(portions.first.food), class: 'gray-dashed-button gap-x-1 text-sm' do
        .h-4.w-4
          = raw heroicon :'plus-sm'
        Add portion
