%header
  %nav.main-nav.bg-green-700
    .w-screen.max-w-screen-md.mx-auto.px-4.md:px-0
      .flex.items-center.justify-between.space-x-8.h-16
        .shrink-0
          .h-8.w-8.text-white
            = raw fontawesome :'carrot-duotone'
        - if @current_user
          .hidden.sm:flex.sm:w-full.sm:items-center
            .grow
              .flex.gap-x-2
                = link_to my_journal_days_path, class: "nav-link #{nav_link_current_classes(my_journal_days_path)} flex items-center gap-x-2" do
                  .h-4.w-4
                    = raw heroicon :calendar
                  Journal

                = link_to recipes_path, class: "nav-link #{nav_link_current_classes(recipes_path)} flex items-center gap-x-2" do
                  .h-4.w-4
                    = raw heroicon :'book-open'
                  Recipes

                = link_to nutritions_path, class: "nav-link #{nav_link_current_classes(nutritions_path)} flex items-center gap-x-2" do
                  .h-4.w-4
                    = raw heroicon :'chart-pie'
                  Foods
          .shrink-0
            = button_to logout_path, method: :delete, class: 'text-green-500 hover:text-green-200 transition text-sm flex items-center gap-x-2' do
              .h-4.w-4
                = raw heroicon :logout
              Sign out

    #mobile-menu.sm:hidden
      .bg-green-400.flex.flex-col.divide-y.divide-green-300
        .grid.grid-cols-3
          = link_to my_journal_days_path, class: "nav-link #{nav_link_current_classes(my_journal_days_path)} flex items-center gap-x-4" do
            .h-4.w-4
              = raw heroicon :calendar
            Journal

          = link_to recipes_path, class: "nav-link #{nav_link_current_classes(recipes_path)} flex items-center gap-x-4" do
            .h-4.w-4
              = raw heroicon :'book-open'
            Recipes

          = link_to nutritions_path, class: "nav-link #{nav_link_current_classes(nutritions_path)} flex items-center gap-x-4" do
            .h-4.w-4
              = raw heroicon :'chart-pie'
            Foods

  = render 'layouts/flash'
