%nav
  = link_to my_journal_days_path do
    = fa_icon 'newspaper-o'
    Journal
  = link_to recipes_path do
    = fa_icon 'cutlery'
    Recipes
  = link_to nutritions_path do
    = fa_icon 'cogs'
    Foods
  - if current_user.is_admin?
    = link_to users_path do
      = fa_icon 'users'
      Users
