<!DOCTYPE html>
<html lang="en">
  <head>
    <title>food.schi.li</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body lang="en">
    <div class="container">

        <div class="row">
          <div class="col-xs-12" id="title">
           food.schi.li
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <h1><%= content_for?(:page_title) ? yield(:page_title) : '' %></h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <%= render 'layouts/compass' %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <%= render 'layouts/flash' %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <%= yield %>
          </div>
        </div>

      </div>
  </body>
</html>
