!!!
%html{ lang: :en }
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title food.schi.li
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    = csrf_meta_tags
    = stylesheet_pack_tag 'application', media: 'all'
    = javascript_pack_tag 'application'

  %body
    .content
      .flex.flex-wrap.mb-4
        .container.mx-auto
          .w-full
            .text-center.tracking-widest.text-xs.md:text-3xl.my-2.md:my-5
              .inline-block.mx-auto
                .bg-clip-text.text-transparent.bg-gradient-to-r.from-green-400.to-green-800 food
          - if @current_user
            .w-full.bg-gradient-to-r.from-green-200.to-green-300
              = render 'layouts/navigation'

      .flex
        .w-full.px-4.my-5
          .container.mx-auto
            = render 'layouts/flash'
            = yield

    %footer.footer
      .container.mx-auto.my-5
        = render 'layouts/footer'


    = javascript_include_tag 'application'

