!!!
%html{ lang: :en }
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title food.schi.li
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_pack_tag 'application'

  %body
    .grid-x.grid-padding-x.food-full-height
      .small-12.medium-3.large-2.cell.food-menu-panel
        .title
          food.schi.li
        - if @current_user
          = render 'layouts/navigation'

      .small-12.medium-9.large-10.cell
        = render 'layouts/flash'
        = yield
        = render 'layouts/footer'

    = javascript_include_tag 'application'

