!!!
%html{ lang: :en }
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title food.schi.li
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'https://www.gstatic.com/charts/loader.js'
    = javascript_include_tag 'application'

  %body
    .row
      .small-12.small-offset-0.large-10.large-offset-1.columns
        .title
          food.schi.li
        - if current_user 
          .vertical-space-xxl= render 'layouts/navigation'

        = render 'layouts/flash'
        = yield
    .row
      .small-12.columns
        = render 'layouts/footer'

