!!!
%html{ lang: :en }
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title food.schi.li
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    = csrf_meta_tags
    = stylesheet_pack_tag 'application', media: 'all'
    = javascript_pack_tag 'application'

  %body
    .content
      .flex.flex-wrap.mb-4
        .w-full.bg-green-400
          .text-center.text-2xs.block.text-green-900 food
        - if @current_user
          .w-full
            = render 'layouts/navigation'

      .flex
        .w-full.px-4
          = render 'layouts/flash'
          = yield

    %footer.footer
      = render 'layouts/footer'

    = javascript_include_tag 'application'

