!!!
%html{ lang: :en }
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title food.schi.li
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true

  %body
    = render 'layouts/header'

    %main
      .w-screen.max-w-screen-md.mx-auto
        .w-full.my-8.px-4.sm:px-0
          .container.mx-auto
            = yield
