!!!
%html{ lang: :en }
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title food.schi.li
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_pack_tag 'application'

  %body
    .flex.flex-wrap.bg-green-400
      .w-full.mb-4
        .title food
        - if @current_user
          = render 'layouts/navigation'
      .w-full.px-4
        %h1= yield :h1

    .flex
      .w-full.px-4
        = render 'layouts/flash'
        = yield
        = render 'layouts/footer'

    = javascript_include_tag 'application'

